h2 { color: red;
  text-decoration: underline;
}
h1 {text-decoration: underline;
  color:#cd5c5c;
}
body {
  text-align: center;
  background: linear-gradient(90deg, rgba(146,146,236,1) 0%, rgba(242,242,253,1) 49%, rgba(146,146,236,1) 100%);
}
.miimagen {
  width: 50%;
}
ol,ul {
  text-align: left;
  font-size: 20px;
}
ul{
   list-style-type: square;
}
